.rtl {

    /**
        Inputs
    */
    .vs-input-parent, .vs-select {
        direction: rtl;

        label {
            left: auto;
            right: 13px;
        }
    }

    .vs-select {
        .vs-select__chips {
            left: auto;
            right: 0px;
        }

        .vs-icon-arrow {
            direction: ltr;
            right: auto;
            left: 15px;
        }
    }
}